body {
	background-image: url(images/carreaux.jpg);
	font-size:15px;
	letter-spacing: 1px;
	font-family: Times New Roman; 
	line-height:20px;
	text-align: justify;
}

h1{
	color: #3A1E08;
	font-size: 40px ;
	letter-spacing: 5px;
	font-family: Times New Roman;
	font-weight: lighter;
	line-height: 5px;	
	text-align: center;
	margin-top:60px;

}

h2,h3,h4 {
	color: #3A1E08 ;
	font-size: 30px ;
	letter-spacing:4px;
	font-family: Georgia;
	font-weight: lighter;
	line-height: 4px;
}

h5 {
	color: #3A1E08 ;
	font-size: 15px ;
	letter-spacing:4px;
	font-family: Georgia;
	font-weight: lighter;
	line-height: 4px;
	text-align: center;
}
.img-circle {
 	border: 5px solid #ddd;
 	border-color:#472001;
 	border-radius: 50%;
	padding: 7px;
	width: 300px;
	margin-top:60px;
	margin-bottom:60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a{
	color:#7E481C;
	text-decoration: none;
	transition:color 0.3s ease ;
}

a:hover {
	color:#9A7B4F;
	text-decoration:none;
	transition:;
}

.container {
  width: 700px;
  margin: 40px auto;
}
.card-white {
	background: white;
	padding: 25px 40px 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	width: 600px;
	margin: 100px auto;
}

#small_card-white {
	background: white;
	padding: 10px 10px 10px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	width: 460px;
	margin: auto;
}

#header {
	background: white;
	padding: 10px 40px 20px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	width: 600px;
	margin: 50px auto;
}
#description {
	width: 600px;
	margin: sauto;
	text-align: justify;
}

#LinkedIn {
	background: rgba(154, 123, 79, 0.3); 
	padding: 10px 10px 10px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	width: 155px;
	margin: 30px auto;
	text-align: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline  li {
  display: inline;
  padding :10px 50px;
}
.list-inline i {
  font-size:20px;
  color:#3A1E08;
}
.list-inline i:hover {
  font-size:20px;
  color:#9A7B4F;
}
